.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 150px;
  background-color: #f0f0f0;
}

.sidenav .mat-toolbar {
  background: inherit;
  justify-content: center;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.houz-icon{
  max-width: 64px;
}

.nav-list{
  color:#673ab7
}
