<div class="grid-container">
  <div class="row">
    <div class="col-6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Funcionario
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-bar-chart></app-bar-chart></div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Funcionario
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-pie-chart></app-pie-chart></div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Funcionario
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-bar-chart></app-bar-chart></div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-6">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Funcionario
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <app-doughnut-chart></app-doughnut-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
